

  


  




  .container {
    padding: 10px;
    height: 100vh;

    width: 300px;


  }



  



 


  /*Etiqueta (a) No va tener el subrayado del hipervinculo*/
  



 



  


  /*PESTAÑA CORTINAS*/



  /*PESTAÑA ALMOHADONES*/



  