  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,200&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi&display=swap');/*numero*/

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }

 


  .Encabezado {
    display: flex;
    background-color:#b8b8b8;
    padding: 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
  }

  .logo{
    display: grid;
    place-items: center;
    padding: 60px;
    margin: auto;
  }

  .container{
    padding: 10px;
    height: 100vh; 
    
    width: 300px;
   
    
  }
 
  .ContainerImagenes {
  display: flex;
  padding: 60px;
  gap: 30px;
  justify-content: center;
  
 
  
    
  }

  .fondo-imagen{
    border-radius: 10px;
    background-color: #b8b8b8;
    overflow: hidden;
    text-align: center;  
    height: 50%; 
    padding: 10px; 
  }
  .ImagenContenida {
    width: 500px;
    height: 50vh;
    margin-bottom: 30px;
    
  }
  
  .titulo-imagen{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    
    
    

  }


  /*Etiqueta (a) No va tener el subrayado del hipervinculo*/
  a a{
    text-decoration: none !important;
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bolder;
  }

 

  .PiePagina {
    padding: 2rem;
    background-color: black;
    font-family: 'Karla', sans-serif;
    font-size: 26px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .LetraFooter {
    color: white;
    text-align: center;
    align-items: center;
    justify-content: last baseline;
    font-family: 'Karla', sans-serif;
    
  }

  .Wsp {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    background-color: #25D366;
    font-size: 50px;
    border-radius: 40px;
    text-align: center;
    color: white;
  }



  /*PESTAÑA CORTINAS*/

  .bread {
  
    padding: 100px;
    font-size: x-large;
    margin: auto;
    
  }
  


  .publicidad-cortinas{
    width: 100%;
  }
  
  
  

  .cortina-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    width: 80%;
    place-items: center;
    margin: auto;
    gap: 50px;
    
    
    
    
    
    
    
  }
  
  .cortina{
    width: 300px;
    
    background-color: #b8b8b8;
    margin: 10px;
    border: 1px solid black;
    
    
    
    
    
    
  }

  .cortina-imagen {
    max-width: 100%;
    
    
  }

  .cortina-titulo{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    text-align: center;
    text-decoration: underline;

    
  }

  .cortina-parrafo{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;


  }

  .cortina-precio{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    font-family: 'Noto Sans Vithkuqi', sans-serif;;
  }

  .vermas{
      padding: 10px;
     margin-left: 50%;
     background-color: transparent;
     border: 2px solid gray;

     
    
  }

 
    .boton-vermas{
      padding: 50px;
      align-items: center;
    }
  

    @media screen and (max-width: 480px) {

      
     
      
     }

     
      .ContainerImagenes {

      
      flex-direction: column;
    
     }
      
     .cortina-contenedor{
      grid-template-columns: 1fr;
      grid-template-rows: repeat(12, 1fr);
      

     }

    

      
    