.PiePagina {
    padding: 2rem;
    background-color: black;
    font-family: 'Karla', sans-serif;
    font-size: 26px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;

    .LetraFooter {
        color: white;
        text-align: center;
        align-items: center;
        justify-content: last baseline;
        font-family: 'Karla', sans-serif;

    }
}