.PiePagina {
    padding: 1rem;
    background-color: black;
    display: flex;
    justify-content: space-around;
    
    


    .LetraFooter {
        color: white;
        justify-content: baseline;
        font-family: $fontMontserrat;
        text-decoration: none;
        
        list-style: none;
        
    }

    a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
        color: white;
      }
      
      a:link {
        color: white;
      }
      
   

    .iconos {
        display: flex;
        justify-content: right;
        cursor: pointer;
        gap: 1rem;
        margin-bottom: 10px;
        text-decoration: none;
        font-size: 32px;
        color: white;
        


        .fa-brands {
            padding: .5rem;
        }


    }
}