.PiePagina {
    padding: 1rem;
    background-color: black;
    display: flex;
    justify-content: space-around;
    
    


    .LetraFooter {
        color: white;
        justify-content: baseline;
        font-family: $fontMontserrat;
        text-decoration: none;
        
        list-style: none;
        
    }

    a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
        color: white;
      }
      
      a:link {
        color: white;
      }
      
   

    .iconos {
      @extend %IconosFooter;
}
}