.Encabezado {
    display: flex;
    background-color: $mainColor;
    padding: 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    z-index: 2;




    .borde-nav {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        border: 1px solid
    }

    .btn-outline-success {
        --bs-btn-color: black;
        --bs-btn-border-color: black;
        --bs-btn-hover-color: #fff;
    }
}