.main-fondo {
    background-color: #e1e4f6;
}

.rollershade {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    gap: 20px;
    justify-content: center;

    .img-roller {
        width: 500px;
        border-radius: 10px;
    }

    .contenedor-roller {
        display: grid;
        grid-template-columns: 1fr;
        width: 500px;
        gap: 20px;
        justify-content: center;

        .roller-titulo {
            font-family: $fontMontserrat;
            text-decoration: none;
        }

        .roller-subtitulo {
            font-family: $fontMontserrat;
            text-decoration: none;
        }

        .roller-parrafo {
            text-align: justify;
            font-family: $fontMontserrat;
            font-size: 16px;

        }

        .roller-parrafo-lista {
            background-color: white;
            border-left: 10px solid $mainColor;
            border-radius: 10px;
        }
    }
}

.bloque-roller {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px;
    justify-content: space-between;
    width: 50%;
    margin-left: 15%;
    border-radius: 10px;
    gap: 20px;
    



    .tamano-roller {
        width: 400px;
        height: 300px;
        padding: 10px;
        border-radius: 20px;
        transition: 0.5s;
        overflow: hidden;
        object-fit: cover;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.barrales-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50%;
    margin-left: 15%;
    align-content: center;
    margin-top: 50px;
    gap: 20px;
    justify-items: center;
    gap: 25px;
    margin-bottom: -100px;

    .barrales {
        width: 400px;
        height: 300px;
        background-color: #a9b2ad;
        margin: 10px;
        border-radius: 10px;
        transition: 0.5s;
        overflow: hidden;
        object-fit: cover;
        cursor: pointer;



        &:hover {
            transform: scale(1.2);
        }

        .barral-imagen {
            max-width: 100%;
            height: 70%;
        }

        .titulo-barral {
            font-size: 16px;
            font-weight: bold;
            font-family: $fontMontserrat;
            padding: 5px;
            text-align: center;
            
        }

        .precio-barral {
            font-size: 22px;
            text-align: center;
            font-weight: bold;
            font-family: "Noto Sans Vithkuqi", sans-serif;
        }
    }
}