.form-contenedor {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
    align-items: center;

    .map {
        font-family: $fontMontserrat;
        .iframe-img{
            width: 100%;
        }
    }

    .formulario {
        width: 25%;

        .letra-formulario {
            font-family: $fontMontserrat;

        }
    }
}