.logo {
    display: grid;
    place-items: center;
    padding: 60px;
    margin: auto;
    padding-top: 180px;
    padding-bottom: 100px;
}

.carousel-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 25%;
    border: 5px solid white;
    border-radius: 10px;
}

.quienes-somos {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 300px;
    gap: 20px;
    height: 250px;

    .titulo-quienes-somos {
        font-family: $fontMontserrat;
        font-size: 36px;
        color: black;
        margin-top: 100px;
        padding: 15px;
    }

    .parrafo-quienes-somos {
        font-family: $fontKarla;
        font-size: 20px;
        font-weight: bold;
        width: 40%;
        text-align: center;
    }

}


.ContainerServ-Imag {
    display: flex;
    gap: 2rem;
    background-color: #0c658e;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.692);

    .ContainerServicios {
        width: 50%;
        padding-top: 100px;
        margin-left: 10px;


        .titulo-servicios {
            font-family: $fontMontserrat;
            font-weight: bold;
            font-size: 36px;
            color: white;

        }

        .parrafo-servicios {
            font-family: $fontMontserrat;
            font-size: 16px;
            padding-top: 20px;
            color: white;
        }

        .hr {
            color: white;
            border-top-width: 2px;
            border-top-style: solid;
        }
    }

    .ContainerImagenes {
        display: flex;
        justify-content: right;
        text-align: right;
        margin-right: 100px;


        .ImagenContenida {
            width: 400px;
            height: 450px;
            background-color: white;

        }
    }

}

.carousel-ofertas {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    padding-top: 200px;
    width: 80%;
    margin-left: 10%;

    .carousel-caption {
        color: black;
        background-color: transparent;
        font-weight: bold;
        position: static;
    }
}