@media screen and (max-width : 480px) {


    /*index*/

    .logo {
        padding-top: 250px;
    }

    .carousel-container {
        width: 100%;
    }

    .quienes-somos {

        justify-content: left;
        text-align: justify;

        .titulo-quienes-somos {
            justify-content: center;
            text-align: center;
        }

        .parrafo-quienes-somos {
            font-size: 16px;
            width: 70%;
            text-align: center;
            margin-left: 15%;
        }
    }

    .ContainerServ-Imag {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ContainerImagenes {
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-left: 22%;

            .ImagenContenida {
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }

    .carousel-ofertas {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 100px 0px 100px 0px;
        margin-left: 0%;
        
        .carousel-caption {
            color: black;
            background-color: transparent;
            font-weight: bold;
            position: static;
    
    
        }
    }

    /*CORTINAS*/
    .publicidad {
        width: 100%;
        padding-top: 150px;

    }

    .deco-cortinas {
        width: 100%;
        padding-bottom: 100px;
        justify-content: center;
        align-items: center;
        text-align: center;

        .deco {
            width: 100%;
            border-radius: 10px;
        }
    }

    .bloque-cortinas {
        
        flex-direction: column;

        justify-content: justify;

        width: 100%;
        gap: 50px;
        margin-left: 0%;
        padding-bottom: 0px;

        .img-confec {
            border-radius: 10px;
            width: 100%;
        }

        .confeccion {
            max-width: 100%;


            .titulo-confeccion {
                font-family: $fontMontserrat;
                padding-bottom: 40px;
                font-size: 36px;
                width: 100%;
                max-width: 100%;
            }

            .parrafo-confeccion {
                text-align: justify;
                font-family: $fontMontserrat;
                padding-bottom: 20px;
                width: 100%;
            }

            .parrafo-medidas {
                font-family: $fontMontserrat;
                background-color: white;
                border-radius: 10px;
                border-left: 10px solid $mainColor;
                justify-content: left;
                width: 100%;
                max-width: 100%;


            }
        }

    }

    /*ALMOHADONES*/

    .bloque-almohadones {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 0%;

        .parrafo-almohadon-sillon {
            font-size: 18px;
            padding-bottom: 18px;
            color: black;
            width: 100%;
            margin-left: 0%;
        }
    }

    .img-sillon {
        flex-direction: column;
        justify-content: center;
        width: 80%;
        gap: 50px;
        padding: 0%;
        padding-top: 100px;
        margin-left: 14%;


        .tamano-img {
            width: 350px;
            height: 300px;
            border-radius: 10px;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            transition: 0.5s;
            overflow: hidden;
            object-fit: cover;

            &:hover {
                transform: scale(1.2);
            }

        }
    }

    /*ACCESORIOS*/

    .bloque-roller {
        grid-template-columns: 1fr;
        width: 100%;
        margin-left: 0%;
        justify-content: center;
        padding-bottom: 45px;
    }

    .barrales-contenedor {
        grid-template-columns: 1fr;
        padding-bottom: 200px;
        margin-left: 0%;
        width: 100%;
    }

    /*---------------------------------------------*/

    .PiePagina {
        flex-direction: column-reverse;
        align-items: center;
        text-align: justify;
    }

    .ContainerImagenes {
        flex-direction: column;
        padding: 10px;
        margin-top: 50px;
    }

    .ImagenContenida {
        width: 450px;
        height: 400px;
        padding: 15px;
    }

    .cortina-contenedor {

        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);

    }

    .almohadon-contenedor {

        grid-template-columns: 1fr;
        grid-template-rows: repeat(16, 1fr);
    }



    .carousel-container {
        width: 80%;
        margin-left: 10%;
    }

    .rollershade {
        flex-direction: column;
        padding: 10px;
        margin-top: 50px;
        max-width: 100%;
        overflow: hidden;
        justify-content: center;

        .img-roller {
            width: 100%;
            justify-content: center;
            border-radius: 10px;
        }
    }

    .contenedor-roller {
        flex-direction: column;
        padding: 10px;
        margin-top: 50px;
        width: 100%;

        .roller-parrafo {
            width: 80%;
            margin-left: 10%;
        }
    }

    .roller-trans {
        display: grid;
        grid-template-rows: 6fr;
        overflow: hidden;
        width: 100%;
        height: 530px;
        margin-top: 100px;
        margin-left: auto;

        .img-rollertrans {
            width: 100%;
            flex-grow: 1;
            object-fit: cover;
            transition: .5s ease;

            &:hover {

                width: 100%;

                filter: contrast(120%);
            }
        }
    }

    /*CONTACTO*/

    .form-contenedor {
        flex-direction: column;
        align-items: center;

        justify-content: center;

        .map {
            justify-content: center;
            width: 80%;

            .iframe-img {
                width: 100%;

            }
        }

        .formulario {
            width: 80%;
            justify-content: center;


        }
    }
}