@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

$fontJost: 'Jost', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$fontQuicksand: 'Quicksand', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,200&display=swap');

$fontKarla: 'Karla', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$fontMontserrat: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi&display=swap');

$fontNumber: 'Noto Sans Vithkuqi', sans-serif;

$fondoWeb: #e1e4f6;

$mainColor: #648894;

$SecondaryColor: #0c658e;

$TarjetasColor: #627783;

%IconosFooter {
    display: flex;
    justify-content: right;
    cursor: pointer;
    gap: 1rem;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 32px;
    color: white;

    .fa-brands {
        padding: .5rem;
    }

}