@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

$fontJost: 'Jost', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$fontQuicksand: 'Quicksand', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,200&display=swap');

$fontKarla: 'Karla', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$fontMontserrat: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi&display=swap');

$fontNumber: 'Noto Sans Vithkuqi', sans-serif;

$mainColor: #648894;